mn-option {
  position: relative;
  display: inline-block;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  line-height: 2em;

  label {
    display: block;
    text-align: left;
    cursor: pointer;
    padding: 1em;
  }

  input {
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }

  &[disabled] {
    pointer-events: none;
  }

  input:checked {
    & + .input:before {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }

  input:focus:not(:active):not(:hover) {
    & + .input:after {
      transform: translate(-50%, -50%) scale(1);
      opacity: 1;
    }
  }

  .input {
    display: inline-block;
    width: 1em;
    height: 1em;
    box-shadow: 0 0 0 2px $oc-gray-7;
    border: 2px solid transparent;
    position: relative;

    &:before, &:after {
      content: '';
      position: absolute;
      top: 50%; left: 50%;
      transform: translate(-50%, -50%) scale(.2);
      opacity: 0;
      transition: all .2s ease;
    }

    &:before {
      width: 1em; height: 1em;
      background-color: $oc-gray-7;
    }

    &:after {
      width: 2.5em; height: 2.5em;
      background-color: $oc-gray-4;
      border-radius: 50%;
      z-index: -1;
    }
  }

  &[disabled] .input {
    box-shadow: 0 0 0 2px $oc-gray-5;

    &:before, &:after {
      background-color: $oc-gray-5;
    }
  }
}
