mn-radio {
  position: relative;
  display: inline-block;

  label {
    display: block;
    text-align: left;
    cursor: pointer;
    padding: 1em;
  }

  input {
    // display: none;
    // visibility: hidden;
    opacity: 0;
    pointer-events: none;
    position: absolute;
  }
}
