.mn-option {
  .text {
    pointer-events: none;
    z-index: 10;
    position: relative;
    display: block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 0 1em;
    text-align: center;
    display: inline-block;
    user-select: none;
  }

  &[disabled] {
    .text {
      color: $oc-gray-5;
    }
  }
}
