mn-option {
  &:after {
    content: attr(placeholder);
    pointer-events: none;
    z-index: 10;
    position: relative;
  }

  &[type='radio']:after,
  &[type='checkbox']:after, {
    position: absolute;
    top: 50%;
    left: 3em;
    transform: translate3d(0, -50%, 0);
  }

  &[disabled] {
    &:after {
      color: $oc-gray-5;
    }
  }
}
