mn-option {
  &[placeholder]:after {content: attr(placeholder)}
  &[value]:not([placeholder]):after {content: attr(value)}

  &:after {
    content: attr(placeholder);
    pointer-events: none;
    z-index: 10;
    position: relative;
  }

  &[type='radio']:not(.natural):after,
  &[type='checkbox']:not(.natural):after, {
    position: absolute;
    top: 50%;
    left: 3em;
    transform: translate3d(0, -50%, 0);
  }

  &[disabled] {
    &:after {
      color: $oc-gray-5;
    }
  }
}
