html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')

  block styles
    link(rel='stylesheet' href='docs/vendor.css')
    link(rel='stylesheet' href='dist/mn-radio.css')

  style.

    mn-radio h2 {font-weight: normal}
    .zmdi-close {font-size: 2em}

body
  h2 mn-radio
  include github-corner

  .demo.mn-layout-fullscreen.mn-layout-centered
    .mn-layout-container
      .mn-layout-column
        mn-radio.flex(placeholder='Female' name='gender')
        mn-radio.flex(placeholder='Male' name='gender')

      .mn-layout-column
        mn-radio.flex(placeholder='Stark' name='house')
        mn-radio.flex(placeholder='Targaryen' name='house')
        mn-radio.flex(placeholder='Bolton' name='house')
        mn-radio.flex(placeholder='Lannister' name='house')

  block scripts
    script(src='docs/vendor.js')
    script(src='dist/mn-radio.js')

