html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')

  block styles
    link(rel='stylesheet' href='docs/vendor.css')
    link(rel='stylesheet' href='dist/mn-radio.css')

  style.
    .demo .mn-layout-container > div {
      margin: 0 auto;
    }

    @media (max-width: 599px) {
      mn-radio {text-align: center}
    }

    @media (min-width: 600px) {
      .demo .mn-layout-container > div {
        width: 80%;
      }
    }

body
  h2 mn-option
  include github-corner

  .demo.mn-layout-fullscreen.mn-layout-centered
    .mn-layout-container
      h3.align-center Choose a house
      .mn-layout-column.mn-layout-sm-row
        mn-option.flex#test(placeholder='Stark' name='house' checked type='radio')
        mn-option.flex(placeholder='Targaryen' name='house' type='radio')
        mn-option.flex(placeholder='Baratheon' name='house' type='radio')
        mn-option.flex(placeholder='Lannister' name='house' type='radio')

      h3.align-center minimal
      .mn-layout-column.mn-layout-sm-row
        mn-option.flex#test(placeholder='Arya' name='list')
        mn-option.flex(placeholder='Bran' name='list')
        mn-option.flex(placeholder='Jon' name='list' checked)
        mn-option.flex(placeholder='Robby' name='list')

      h3.align-center Who will die?
      .mn-layout-column.mn-layout-sm-row
        mn-option.flex#test(placeholder='Arya' name='dieList' type='checkbox')
        mn-option.flex(placeholder='Bran' name='dieList' type='checkbox')
        mn-option.flex(placeholder='Jon' name='dieList' checked type='checkbox')
        mn-option.flex(placeholder='Robby' name='dieList' type='checkbox')

  block scripts
    script(src='docs/vendor.js')
    script(src='dist/mn-radio.js')

