html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')

  block styles
    link(rel='stylesheet' href='docs/vendor.css')
    link(rel='stylesheet' href='dist/mn-radio.css')

  style.
    .demo .mn-layout-container > div {
      margin: 0 auto;
    }

    @media (max-width: 599px) {
      mn-radio {text-align: center}
    }

    @media (min-width: 600px) {
      .demo .mn-layout-container > div {
        width: 80%;
      }
    }

body
  h2 mn-radio
  include github-corner

  .demo.mn-layout-fullscreen.mn-layout-centered
    .mn-layout-container
      .mn-layout-column.mn-layout-sm-row
        mn-radio.flex#test(placeholder='Stark' name='house' checked)
        mn-radio.flex(placeholder='Targaryen' name='house')
        mn-radio.flex(placeholder='Baratheon' name='house')
        mn-radio.flex(placeholder='Lannister' name='house')

  block scripts
    script(src='docs/vendor.js')
    script(src='dist/mn-radio.js')

