html
  meta(name='viewport' content='width=device-width, user-scalable=no')
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/material-design-iconic-font/2.2.0/css/material-design-iconic-font.min.css')

  block styles
    link(rel='stylesheet' href='docs/vendor.css')
    link(rel='stylesheet' href='dist/mn-option.css')

  style.
    .demo .mn-layout-container > div {
      margin: 0 auto;
    }

    @media (max-width: 599px) {
      mn-option {text-align: center}
    }

    @media (min-width: 600px) {
      .demo .mn-layout-container > div {
        width: 80%;
      }
    }

    h3 {
      margin-top: 5em;
      box-shadow: 0 1px 0 #ced4da;
      padding-bottom: .5em;
      color: #868e96;
    }

body
  h2 mn-option
  include github-corner

  .demo.mn-layout-fullscreen.mn-layout-centered
    .mn-layout-container
      h3.align-center natural type
      .mn-layout-column.mn-layout-sm-row
        mn-option.natural.flex#test(placeholder='Ned' name='list' type='radio')
        mn-option.natural.flex(placeholder='Daenerys' name='list' checked type='radio')
        mn-option.natural.flex(placeholder='Robert' name='list' type='radio')
        mn-option.natural.flex(placeholder='Cersei' name='list' type='radio')

      h3.align-center radio type
      .mn-layout-column.mn-layout-sm-row
        mn-option.flex#test(placeholder='Stark' name='house' checked type='radio')
        mn-option.flex(placeholder='Targaryen' name='house' type='radio')
        mn-option.flex(placeholder='Baratheon' name='house' type='radio')
        mn-option.flex(placeholder='Lannister' name='house' type='radio')

      h3.align-center checkbox type
      .mn-layout-column.mn-layout-sm-row
        mn-option.flex#test(placeholder='Ned' name='list' type='checkbox')
        mn-option.flex(placeholder='Daenerys' name='list' type='checkbox')
        mn-option.flex(placeholder='Robert' name='list' type='checkbox')
        mn-option.flex(placeholder='Cersei' name='list' checked type='checkbox')

  block scripts
    script(src='docs/vendor.js')
    script(src='dist/mn-option.js')

